body {
    /* background-color: #030000; */
    /* background-image: url("https://raw.githubusercontent.com/josh-street/webgl-earthsatellite/master/bg.jpg");   */

    margin-top: 50px;
    font-family: 'Lato';
    padding: 0;
    margin: 0;
    font-size: 9pt;

}
  h1 {
    font-size: 12pt;
    color: #fff;
    margin-left: 10px;
  } 

 li {
    color: #fff;
    line-height: 1.3;
  }

  #myCanvas {
    /* background-image: //url("https://raw.githubusercontent.com/josh-street/webgl-earthsatellite/master/bg.jpg");   */
    position: absolute; 
    top: 0px;
    left: 0px;
    width:  100%;
    height: 100%;
    margin: 0px;
    z-index: -1;
    position: fixed;
  }


/* .item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
} */

button:focus {
    border: 1px solid #333;
}

#earth_div {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    position: absolute !important;
    z-index: -1;
}

#instructions {
    padding-left: 5px;
    background:rgba(255, 255, 255, 0);
    width:24%;
    height:12em;
    border-radius: 5px;

}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}